{% extends 'mainapp/base_search.html' %}

{% load static %}

{% block extrahead2 %}
<link rel="stylesheet" href="{% static "mainapp/css/recordstyles.css" %}">
{% endblock %}



{% block search %}

<div class="titlequerydiv"> 
Showing results for {{query}}:

</div>


{% for record in results %}

<div class="outsidediv">

<img class="vinyl" src="{% static 'mainapp/images/record.png'%}">

<img class="cover" src="{% if record.coverimage %} {{ record.coverimage.url }} {% else %} {% static 'mainapp/images/default.jpg' %} {% endif %}">

<div class="titlediv">

<strong>{{record.artist.name}}</strong>
<br>
<strong>{{record.title}}</strong>
<br>
{{record.label.name}}
<br>
{{record.unit}}{{record.recordformat}}
<br>
{{record.price}}
<br>
{{record.date}}
</div>

<div class="infodiv"> 
{{record.wikiinfo}}

<br>
<br>
{{record.artist.wikiinfo}}

<br>
<br>
{{record.label.wikiinfo}}


</div>

<a class="moreinfobtn" href="{{ record.get_absolute_url }}" <button> See more info </button> </a>
<button class="addtocartbtn"> Add to cart </button>


</div>

{% endfor %}  

{% endblock %}




