<!DOCTYPE html>
{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/basestyles.css'%}"/>
{% block extrahead %}{% endblock %}
{% block extrahead2 %}{% endblock %}
{% block extrahead3 %}{% endblock %}
</head>
<body>

<header class="header">
<img class="recordlogo"src="{% static 'mainapp/images/logonew.png'%}">
<img class="logo" src="{% static 'mainapp/images/polydigs.png'%}">
<img class="cart" src="{% static 'mainapp/images/shoppingcart.png'%}">
<img class="searchbutton" src="{% static 'mainapp/images/images.png'%}">

{% with total_items=cart|length %}
    {% if cart|length > 0 %}
        <a href="{% url "cart:cart_detail" %}">
           ( {{ total_items }} )
        </a>
    {% else %}
        Your cart is empty.
    {% endif %}
{% endwith %} 


</header>

{% block content %}
{% endblock %}

{% block search %}
{% endblock %}

{% block detail %}
{% endblock %}












<footer class="footer">
</footer>


</body>
</html>
