

{% extends 'mainapp/base.html' %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "mainapp/css/basesearchstyles.css" %}">
{% endblock %}





{% block content %}




<div class="searchdiv"> 

<form action="{% url 'mainapp:searchresults' %}" method="GET" >
{% csrf_token %}

<input type="text" name="q" action="/search/" class="input" placeholder="Search...">  </input>
<div class="albumsearch">
<input value="...album titles" type="submit" name="searchtitle" class="albumbtn"></input>
</div>
<div class="artistsearch">
<input value="...artist names" type="submit" name="searchartist"  class="artistbtn"</input>
</div>
<div class="labelsearch">
<input value="...record labels" type="submit" name="searchlabel" class="labelbtn"> </input>
</div>
<div class="descriptionsearch">
<input value="...alldescriptions" type="submit" name="searchdescription" class="descriptionbtn"> </input>
</div>


</div>



{% endblock %}


{% block search %}
{% endblock %}

{% block titlesearch %}
{% endblock %}


