

{% extends 'mainapp/base.html' %}

{% load static %}


{% block extrahead3 %}
<link rel="stylesheet" href="{% static "mainapp/css/detailstyles.css" %}">
{% endblock %}

{% block detail %}


<div class="recorddetaildiv1">

<img class="vinyl1" src="{% static 'mainapp/images/record.png'%}">
<img class="cover1" src="{% if record.coverimage %} {{ record.coverimage.url }} {% else %} {% static 'mainapp/images/default.jpg' %} {% endif %}">



<div class="infodiv1">
{{record.artist.name}}
<br>
{{record.title}}
<br>
{{record.recordid}}
<br>
{{record.barcode}}
<br>
{{record.unit}}{{record.recordformat}}
<br>
{{record.label.name}}
<br>
{{record.price}}
<br>
{{record.date}}
<br>
CURRENTLY IN STOCK: {{record.stock}}


<form action="{% url "cart:cart_add" record.id %}" method="post">
{% csrf_token %}
{{ cart_product_form }}
<input type="submit" value="add to cart">
</form>

</div>

<div class="infodiv2_1"> </div>


</div>

<div class="moreinfodiv1"> 
More info:
<br>
{{record.artist.wikiinfo}}
<br>
{{record.artist.wikiinfolink}}
<br>
{{record.label.wikiinfo}}
<br>
{{record.label.wikiinfolink}}
<br>






</div>

<div>
<div class="morefromartist">
More from artist:
</div>
{% for record in products_from_artist %}


<div class="outsidediv">

<img class="vinyl" src="{% static 'mainapp/images/record.png'%}">

<img class="cover" src="{% if record.coverimage %} {{ record.coverimage.url }} {% else %} {% static 'mainapp/images/default.jpg' %} {% endif %}">

<div class="titlediv">

<strong>{{record.artist.name}}</strong>
<br>
<strong>{{record.title}}</strong>
<br>
{{record.label.name}}
<br>
{{record.unit}}{{record.recordformat}}
<br>
{{record.price}}
<br>
{{record.date}}
</div>

<div class="infodiv"> 
{{record.wikiinfo}}

<br>
<br>
{{record.artist.wikiinfo}}

<br>
<br>
{{record.label.wikiinfo}}


</div>

<a class="moreinfobtn" href="{{ record.get_absolute_url }}" <button> See more info </button> </a>
<button class="addtocartbtn"> Add to cart </button>


</div>

</div>









{% endfor %}

</div>
</div>



<div>
<div class="morefromlabel">
More from label:
</div>
{% for record in products_from_label %}


<div class="outsidediv">

<img class="vinyl" src="{% static 'mainapp/images/record.png'%}">

<img class="cover" src="{% if record.coverimage %} {{ record.coverimage.url }} {% else %} {% static 'mainapp/images/default.jpg' %} {% endif %}">

<div class="titlediv">

<strong>{{record.artist.name}}</strong>
<br>
<strong>{{record.title}}</strong>
<br>
{{record.label.name}}
<br>
{{record.unit}}{{record.recordformat}}
<br>
{{record.price}}
<br>
{{record.date}}
</div>

<div class="infodiv"> 
{{record.wikiinfo}}

<br>
{{record.artist.wikiinfo}}


<br>
{{record.label.wikiinfo}}


</div>

<a class="moreinfobtn" href="{{ record.get_absolute_url }}" <button> See more info </button> </a>
<button class="addtocartbtn"> Add to cart </button>


</div>

</div>




{% endfor %}

</div>
</div>





{% endblock %}
