

{% extends 'mainapp/base_search.html' %}

{% load static %}

{% block extrahead2 %}
<link rel="stylesheet" href="{% static "mainapp/css/recordstyles.css" %}">
{% endblock %}



{% block search %}


<div class="backgrounddiv"> 

{% block search %}


{% for record in allrecords %}


<div class="outsidediv">


<img class="vinyl" src="images/vinylre.png">

<img class="cover" src="images/hauff.jpg">

<div class="titlediv">
<div class="artistnamediv">
{{record.artist.name}}
</div>
{{record.title}}
</div>
<div class="recordlabeldiv">
{{record.label.name}}
</div>
<div class="descriptionsdiv">
{{record.wikiinfo}}
<br>
{{record.artist.wikiinfo}}
<br>
{{record.label.wikiinfo}}
</div>






</div>

</div>





{% endfor %}  
   

</div>

{% endblock %}




