
html {
    position: relative;
    min-height: 100%;

}


body {
    padding:0;
    margin:0;
    background-color:black;

}


.header {
    padding-left:0%;
    padding-right:0%;
    margin-left:0%;
    margin-right:0%;
    width:100%;
    height:50px;
    background-color: black;

}

.textlogo {

    position: absolute;
    background-size:cover;
    margin-left:10px;
    height:40px;
    width:120px;
    margin-top:10px;

}



.cart {
    height:30px;
    width:35px;
    position:absolute;
    margin-top:13px;
    margin-left:95%;

}





.search {
    height:19px;
    width:18px;
    position:absolute;
    margin-top:19px;
    margin-left:93%;

}












.footer {
    height:100px;
    width: 100%;
    margin-bottom:0px;
    background-color:black;

}



.bottomlogo {
    height:60px;
    width:60px;
    position:absolute;
    margin-left:20px;
    margin-top:20px;
}