
.titlequerydiv {
    background-color:black;
    color:white;
    margin-right:0px;
    margin-left:0px;
    padding-right:0px;
    padding-left:0px;
    height:40px;
    font-size:25px;
    padding:10px;
    padding-left:90px;
    padding-top:20px;
    /* border: 2px solid black;
    border-width: 5px; */
    font-family: 'Source Code Pro', monospace;

}




.outsidediv {
    position: relative;
    height:350px;
    width:100%;
    background-size:cover;
    margin-top:40px;
    margin-left:0px;
    padding-left:0px;
    margin-right:0px;
    border-radius:20;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Source Code Pro', monospace;
    background-color:white;
    color:black;
    	


}

.upperdiv {
    position:absolute;
    margin-left:290px;
    margin-right:0px;
    height:120px;
    /* width: 100%; */
    width:1000px;
    /* background-image: url("../images/sky\ 2.jpg"); */
    background-color:black;
    background-size:cover;
    padding-left:0px;
}






.vinyl {
    width:200px;
    height:200px;
    position:absolute;
    margin-top:60px;
    margin-left:90px;
    
    

}



.cover {
    width:200px;
    height:200px;
    position:absolute;
    margin-left:90px;
    margin-top:120px;
    border: 2px solid black;
    border-width: 2px;

}


.titlediv {
    position:absolute;
    height:40px;
    width:1000px;
    margin-left:300px;
    margin-top:30px;
    font-size:35px;
    font-family: 'Source Code Pro', monospace;
    color:white;



}


.artistnamediv {
    font-weight: 600;
    text-shadow: 2px 1px 0 #7A7A7A;
    color:white;
}



.recordtitlediv {
    font-weight: 600;
    text-shadow: 2px 1px 0 #7A7A7A;
    color:white;
    font-size: 30px;


}

.recordlabeldiv {
    font-size:20px;
    color:black;
}



.descriptionsdiv {
    margin-top:20px;
    font-size:15px;
    color:black;
}


.paginator {
    position:relative;
    margin-left:0px;
    margin-right:0px;
    height:30px;
    width:100%;
    text-align:center;
    font-family: 'Source Code Pro', monospace;
    padding-top:10px;
    margin-bottom:40px;
    background-image:url("../images/sky.jpg");
    background-size:cover;



}


